# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.13
    working_directory: /go/src/github.com/itsksaurabh/go-corona
    steps:
      - checkout
      # specify any bash command here prefixed with `run: `
      - run: 
          # install Mage - is a make/rake-like build tool using Go.
          name: mage-setup
          command: | 
            git clone https://github.com/magefile/mage
            cd mage
            go run bootstrap.go
      - run: 
           name: test
           command: mage -v